@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;

}

.Box {
    background-color: azure;
    margin: 10% auto;
    width: 350px;
    height: 400px;
    max-height: 400px;
    border-radius: 2%;
    border: none;
    padding: 2%;
    box-shadow: 0px 0px 5px 1px black;
}

.topic {
    border: none;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.underline {
    border-bottom: solid black 2px;
    border-radius: 50%;
    width: 200px;
    margin: auto;
}

#inbox {
    border: none;
    margin-top: 10%;
    height: 80%;
    padding: 1%;
}

.Password {
    background-color: white;
    height: 25px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 1%;
}

#bar {
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
}

#Length {
    border: none;
    font-size: x-small;
    width: fit-content;
    margin-left: 10px;
    margin-top: -8px;
    color: blue;
    text-shadow: 0.9px 0.9px rgba(0, 0, 0, 0.502);
}

#count {
    border: none;
    margin-left: 97%;
    margin-top: -10px;
}

.checkbox {
    margin: 0px 10px;
}

#lo,
#up,
#num,
#sym {
    margin: 9% 0px;
    font-family: "Karla", sans-serif;
    font-size: large;
    font-weight: 500;
}

#lo {
    margin-top: 10px;
}

#sym {
    margin-bottom: 0%;
}

.buttonholder {

    text-align: center;
    height: 20%;
}

#gen {

    margin: 3.5%;
    padding: 2%;
    border-radius: 10px;
    border-width: 2px;
    font-family: "Karla", sans-serif;
    font-size: large;
    cursor: pointer;
    font-weight: 900;
    border-color: cornflowerblue;
    width: 300px;
}

:hover#gen {
    background-color: cornflowerblue;
}



.container1 {
    margin-left: 53px;
    text-align: right;
}

.container2 {
    margin-left: 49px;
    text-align: right;
}

.container3 {
    margin-left: 112px;
    text-align: right;
}

.container4 {
    margin-left: 105px;
    text-align: right;
}